body {
    background-color: #fff3e6;
    margin-top: 50px;
    margin-left: 40px;
    margin-bottom: 30px;
    line-height: 1.3;
    word-spacing: 1.5;
}

h1 {
    text-align: center;
}

img {
    display: block;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    max-height: 400px;
    max-width: fit-content;
}

.intro {
    display: block;
    border-radius: 10px;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: #e6e6ff;
    max-width:450px
}

.lists {
    display: table;
     margin: 0 auto;
}

.ingredients {
    display:block;
    border-radius: 10px;
    padding: 20px;
    float: left;
    margin: 0 2px;
    margin-bottom: 20px;
    vertical-align: top;
    background-color: aliceblue;
    max-width:350px
}

.steps {
    display: block;
    border-radius: 10px;
    vertical-align: top;
    float: left;
    margin: 0 2px;
    padding: 20px;
    background-color: #ffcccc;
    max-width:350px
} 

h1 {
    font-family: Rockwell, "Times New Roman", "Lucida Sans Typewriter";
}

.u-list {
    padding-left: 40px;
    padding-right: 30px;
}

.o-list {
    padding-left: 40px;
    padding-right: 30px;
}

h2 {
    text-align: center;
}

.home {
    background-color: #e6ffe6;
    padding: 12px;
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 8px;
    margin-bottom: 40px;
}